In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
# import data
df = pd.read_csv("brics.csv", index_col=0)
df.head()

                capital    gdp  literacy  expectancy  population
country
Brazil         Brasilia   2750     0.944        76.8      210.87
Russia           Moscow   1658     0.997        72.7      143.96
India         New Delhi   3202     0.721        68.8     1367.09
China           Beijing  15270     0.964        76.4     1415.05
South Africa   Pretoria    370     0.943        63.6       57.40